<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerinc :: head" >
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<meta charset="utf-8" />



<body id="page-top">
	<!-- Navigation -->
	<header th:replace="fragments/header :: header"></header>
	
	
	<div class="container text-center my-top">
			<h1 class="mb-1 mt-3">Off Festival in Years</h1>
			</div>
	

<div class="container text-center">


			<div class="row">
				<div class="col-lg-10 col-md-3 mx-auto">
					<div class="table-previewP">
		<table class="table">
		<thead>
		<tr class="container text-center">
			<th>Off Festival Year</th>
			<th>Name Band</th>
			<th>City</th>
			<th>Country</th>
			<th>Tag</th>
			<th>Since</th>
			<th>Listeners</th>
			<th>Best Album</th>
			<th>Best Song</th>
			
		</tr>
		</thead>
		
		<tbody>
		<tr th:each="band : ${bands}" >
		<td th:text="${band.year}" />
		<td th:text="${band.name_band}" />
		<td th:text="${band.city}" />
		<td th:text="${band.country}" />
		<td th:text="${band.tag}" />
		<td th:text="${band.since}" />
		<td th:text="${band.listeners_kilo}" />
		<td th:text="${band.name_album}" />
		<td th:text="${band.best_song}" />
		
		
			
		</tr>
		</tbody>
	</table>
	
	 <div class="container text-center my-bottom mt-5">
	<div  th:replace="fragments/paginationbar :: paginationbar"></div>
	</div> 
	
	
				</div>
	</div>
	</div>
	</div>

<br/>
<br/>
	
	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
	<a class="mb-5 mt-5 btn btn-primary btn-xl js-scroll-trigger" href="/#about">Home</a>

</body>

</html>
