<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/headerinc :: head">
</head>

<body>

	<header th:replace="fragments/header :: header"></header>

	<!-- Page Header -->
	<header class="mastheadSecondary d-flex">
		<div class="container text-center my-top">
			<h1 class="mb-1">Registration</h1>

		</div>
		<div class="overlay"></div>
	</header>
	
	<div class="mt-5 container">
		<div class="row">

			<div class="col-lg-8 col-md-10 mx-auto">

				<span th:utext="${success}"></span>

				<form th:action="@{/registration}" method="post" th:object="${user}">
				
				<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<label>Login</label> <input type="text" th:field="*{login}"
								class="form-control" placeholder="Login" id="login" />
							<p class="help-block text-danger"></p>
						</div>
						<label th:if="${#fields.hasErrors('login')}" th:errors="*{login}"
							class="help-block text-danger"></label>
					</div>

					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<label>Email Address</label> <input type="email"
								th:field="*{email}" class="form-control"
								placeholder="Email Address" id="email" />
							<p class="help-block text-danger"></p>
						</div>
						<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
							class="help-block text-danger"></label>
					</div>

					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<label>Password</label> <input type="password"
								th:field="*{password}" class="form-control"
								placeholder="Password" id="password" />
							<p class="help-block text-danger"></p>
						</div>
						<label th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}" class="help-block text-danger"></label>
					</div>

					<div class="form-group container text-center my-bottom">
			
						<button type="submit" class="mb-5 mt-5 btn btn-primary btn-xl js-scroll-trigger" id="regButton">Registration</button>
					</div>

				</form>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>


</body>
</html>